html {
    background-color: rgba(222, 184, 135, 1);
}

body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(136, 125, 235, 1);
    width: 600px;
    margin: auto;
    padding: 25px 100px;
    font-size: 110%;
    border-radius: 25px;
}

button {
    padding: 10px 20px;
    background-color: #deb887;
    font-size: 16px;
}

canvas {
    border: 1px solid white;
    background-color: black;
}

#green-circle {
    display: none;
}